<launch>
	<param name="/robot_description" textfile="$(find hero_description)/robot/hero.urdf"/>
			
	<node name="spawn_urdf_arena_1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model arena_1 -x 0.0 -y 0.0 -z -0.0 -file $(find hero_gazebo)/worlds/models/arena_1/arena.urdf" />

    <group ns ="hero_0">
        <param name="tf_prefix" value="hero_0" />
        <param name="robot_description_hero_0" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
        <node name="spawn_urdf_hero_0" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_0 -x -0.1733 -y -0.1732 -z 0.2395 -robot_namespace hero_0 -file $(find hero_description)/robot/hero.urdf" />
        <node pkg="tf" type="static_transform_publisher" name="hero_0_broadcaster" args="0 0 0 0 0 0 world /hero_0/odom 20" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
		<node name="hero_local_planner_hero_0" pkg="hero_examples" type="local_planner.py" args="hero_0" output="screen"/>
    </group>
    <group ns ="hero_1">
        <param name="tf_prefix" value="hero_1" />
        <param name="robot_description_hero_1" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
        <node name="spawn_urdf_hero_1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_1 -x 0.0266 -y -0.1731 -z 0.2395 -robot_namespace hero_1 -file $(find hero_description)/robot/hero.urdf" />
        <node pkg="tf" type="static_transform_publisher" name="hero_1_broadcaster" args="0 0 0 0 0 0 world /hero_1/odom 20" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
		<node name="hero_local_planner_hero_1" pkg="hero_examples" type="local_planner.py" args="hero_1" output="screen"/>
    </group>
    <group ns ="hero_2">
        <param name="tf_prefix" value="hero_2" />
        <param name="robot_description_hero_2" command="$(find xacro)/xacro '$(find hero_description)/robot/hero_light.urdf'"/>
        <node name="spawn_urdf_hero_2" pkg="gazebo_ros" type="spawn_model" args="-urdf -model hero_2 -x -0.1197 -y 0.0268 -z 0.2395 -robot_namespace hero_2 -file $(find hero_description)/robot/hero.urdf" />
        <node pkg="tf" type="static_transform_publisher" name="hero_2_broadcaster" args="0 0 0 0 0 0 world /hero_2/odom 20" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
		<node name="hero_local_planner_hero_2" pkg="hero_examples" type="local_planner.py" args="hero_2" output="screen"/>
    </group>
</launch>